[submodule "lib/Adafruit_SSD1306"]
	path = lib/Adafruit_SSD1306
	url = git@github.com:adafruit/Adafruit_SSD1306.git
[submodule "lib/ThingSpeak"]
	path = lib/ThingSpeak
	url = git@github.com:mathworks/thingspeak-arduino.git
[submodule "lib/WEMOS_SHT3X"]
	path = lib/WEMOS_SHT3X
	url = git@github.com:wemos/WEMOS_SHT3x_Arduino_Library.git
